<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- <script>
        // 弹出输入框获取姓名，保存到变量uname中
        var uname = prompt();
        // 弹出输入框获取年龄，保存到变量age中
        var age = prompt();
        // 弹出输入框获取性别，保存到变量gender中
        var gender = prompt("请输入您的性别 (gender)：");

        // 在页面上输出姓名
        document.write("您的姓名是：" + uname + "<br>");
        // 在页面上输出年龄
        document.write("您的年龄是：" + age + "<br>");
        // 在页面上输出性别
        document.write("您的性别是：" + gender + "<br>");
    </script> -->
    <!-- <script>
        let arr =['星期一','星期二','星期三','星期四','星期五','星期六','星期日']
        console.log(arr[6])
        console.log(arr.size)
        let p = (prompt('请输入'));
        let r = 3.14;
        document.write(`圆的面积为： ${p*r*r}`)
    </script> -->
    <script>
//         let c = 2 === "2"
// console.log(c);
// let a = 3 > 5 && 2 < 7 && 3 == 4
// console.log(a);
// let d = !c || b && a
// console.log(d);
for(let i = 1;i<=10;i++){
    document.write('111');
}
    </script>
    </body>
</html>