*{
    margin: 0;
    padding: 0;
}

body {
    font-family: "Noto Sans SC",sans-serif;
    background-color: aliceblue;
    display: flex;
    /* 主轴水平居中 */
    justify-content: center;
    /* ?????? 默认是纵轴*/
    align-items: flex-start;
    min-height: 100vh;
    color: black;
}

/* 聊天容器 */
.chat-container {
    width: 100%;
    /* responsive 自适应多设备  */
    max-width: 1200px;
    background: white;
    border-radius: 16px;
    /* 立体感    a：透明度 */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    padding: 32px;
    /* 网格布局 二维 */
    display: grid;
    /* 两列    多列 1fr 1fr 1fr 1fr... */
    grid-template-columns: 3fr 1fr;
    /* ipad竖立  太窄*/
    gap: 32px;
    margin: 20px;
    /* 过渡效果 */
    /* animation 复杂动画*/
    transition: all 0.3s ease;
}

/* 媒体查询 768 ipad竖立   375 iphone */
@media (max-width: 768px) {
    .chat-container{
        /* 一人一半 解决ipad竖立  太窄 */
        grid-template-columns: 1fr 1fr;
        padding: 16px;
    }
}

/* 标题 */
h1 {
    text-align: center;
    color:#0056b3;
    margin-bottom: 24px;
    font-size: 28px;
    font-weight: 700;
}

/* 按钮样式 */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;/*轮廓 像border 但是不占据大小  把他reset */
    color:white;
    background-color: #0056b3;
    border:none;
    border-radius: 12px;
    box-shadow: 0 9px #999;
    transition: all 0.3s ease;
}

.button:hover {
    background-color: #004a8c;
    box-shadow:  0 5px #666;
    transform: translateY(4px);
}